.skill{
 
    text-align: center;
   
    font-size:30px;
    font-weight: bold;
    text-decoration:underline;
    position: relative;
    top:10%;
     
  }
  
  .about__body{
    height:100vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    
  }

.about__portfolio{
  scroll-snap-align: start;
}
  
.about__contact{
  scroll-snap-align: start;
}
