.header__body{
    position: sticky;
    top:0;
}

.Header{
    background-color: black; 
    display:flex;
    justify-content: space-around;

}

.resume{
    background-color: cornflowerblue !important;
}

.Header > a{
    padding:20px;
    color:white;
    text-decoration:none;
   
}

.Header > a:hover{
    color: darkmagenta;
}

.active{
    background-color:red;
}



