.hexagon{
    position: relative;
    left:15%;
    transform:translate(-50%,-50%) rotate(120deg);
    background:transparent;
    width:400px;
    height:150px;
    overflow: hidden;
    border-radius:50%;

}

.hexagon_inner{
    width:400px;
    height:150px;
    transform:rotate(-60deg);
    background: transparent;
    overflow:hidden;
}

.hexagon_inner_in{
    width:400px;
    height:150px;
    transform:rotate(-60deg);
    background: #00A1A7;
    overflow:hidden;
   
}

.hexagon1{
    position: relative;
    left:15%;
    transform:translate(-50%,-50%) rotate(120deg);
    background:transparent;
    width:400px;
    height:150px;
    overflow: hidden;
    border-radius:50%;

}

.hexagon_inner1{
    width:400px;
    height:150px;
   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: transparent;
    overflow:hidden;
}

.hexagon_inner_in1{
    width:400px;
    height:150px;
   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: #bbb;
    overflow:hidden;
   
}

.hexagon2{
    position: relative;
    left:15%;
    transform:translate(-50%,-50%) rotate(120deg);
    background:transparent;
    width:400px;
    height:150px;
    overflow: hidden;
    border-radius:50%;

}

.hexagon_inner2{
    width:400px;
    height:150px;

   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: transparent;
    overflow:hidden;
}

.hexagon_inner_in2{
    width:400px;
    height:150px;
   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: rgb(182, 76, 76);
    overflow:hidden;
   
}

.hexagon3{
    position: relative;
    transform:translate(-50%,-50%) rotate(120deg);
    background:transparent;
    width:400px;
    left:15%;
    height:150px;
    overflow: hidden;
    border-radius:50%;

}

.hexagon_inner3{
    width:400px;
    height:150px;
   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: transparent;
    overflow:hidden;
}

.hexagon_inner_in3{
    width:400px;
    height:150px;
   /* border-radius:50%;*/
    transform:rotate(-60deg);
    background: #bbb;
    overflow:hidden;
   
}

.order{
   display:flex;
   justify-content: center;
   margin-top:60px;
  
}