.header__body{
    position: sticky;
    top:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-weight: bold;
    
}


.Header{
    background-color: black; 
    display:flex;
    justify-content: space-around;

}


.Header > a{
    padding:20px;
    color:white;
    text-decoration:none;
   
}

.Header > a:hover{
    color: darkmagenta;
}

.active{
    background-color:red;
}


@media(max-width:1000px){
    .header__body{
        position: relative;
        top:0;
        font-family: sans-serif !important;
        font-size: small;
        
    }
    .Header{
        position: relative;
        display:flex;
        flex-direction: column;
        align-content: center;
        right:1px;
        
    }
    .Header > a{
        
        color:white;
        text-decoration:none;
        font-weight: lighter;
        text-align: center;
       
    }

    .Header > a:hover{
        color:darkmagenta;
    }
    
}


