
.header{
   margin-bottom: 2px;
}


.portfolio__heading{
    font-weight: bold;
    
    color:white;
    text-shadow: 3px 3px black;
    text-decoration:underline;
    position: relative;
    top:10%;
    width:100%;
    left:50%;
    display: flex;
    flex: 0.1;
}

.portfolio__gallery{
    display: flex;
    flex: 0.9;
    align-content: center;
}

.portheading{
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 3px 3px black;
    margin-top:5px;
    text-decoration:underline;
   

}

.portfolio__body{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media(max-width:1200px){
    .portfolio__heading{
        display: inline;
        font-weight: bold;
        
        color:white;
        text-shadow: 3px 3px black;
        text-decoration:underline;
        position: relative;
       top: 1%;
      left:30%;
      padding: 15px;
       
      
       
    }
    .portfolio__body{
       
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .portfolio__gallery{
        display: flex;
        
        align-content: center;
    }

}
